.contact {
    background-image: url("https://static.vecteezy.com/system/resources/previews/009/924/607/non_2x/cute-brown-aesthetic-abstract-minimal-background-perfect-for-wallpaper-backdrop-postcard-background-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 95vh;
    position: relative;
}


.contact-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*margin-top: 10vh;*/
    margin-bottom: 5px;
    outline: none;
    list-style-type: none;
    margin-right:50px;
}

.animated-icon {
    font-size: 2rem;
    transition: transform 0.3s ease-in-out;
}

.animated-icon:hover {
    transform: scale(1.2);
}

.gmail-contact-icon,
.insta-contact-icon,
.linkedIn-contact-icon,
.github-contact-icon {
    width: 80px;
    height: 80px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
    border: 4px solid #fff;
    border-radius: 50%;
}

.gmail-contact-icon:hover,
.insta-contact-icon:hover,
.linkedIn-contact-icon:hover,
.github-contact-icon:hover {
    transform: rotate(360deg);
}

.contact-footer{
    position: absolute;
    bottom: 7.2%;
    width: 100%;
    height: 5vh;
    background-color: #3e2723;
    color: #fff;
    text-align: center;
    /*padding: 10px;*/
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Courier New', monospace;
}



.contact-title {
    color: black;
    text-align: center;
    /*margin-top: 50%;*/
    font-size: 2rem;
    font-family: 'NSimSun', cursive;

    /*text-shadow: 2px 2px 4px #000000;*/

}

.email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.contact-form {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-family: "NSimSun",cursive;
    font-size: 2em;
    font-weight: bold;
}

.contact-form textarea {
    width: 100%;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    height:100px
}

.contact-form input[type="submit"] {
    background-color: green;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /*margin-right: 50%;*/
}

.contact-form input[type="submit"]:hover {
    background-color: #3e2723;
}

.ContagePagetitle{
    font-family: 'NSimSun', cursive;

    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin-top: 80px;
    /*text-shadow: 2px 2px 4px #000000;*/
}


/*RESPONSIVE*/
@media screen and (max-width: 768px) {
    .contact-links {
        display: flex;
        align-items: center;
        justify-content: center;
        /*margin-top: 10vh;*/
        margin-bottom: 20%;
        outline: none;
        list-style-type: none;
    }

    .contact{
        height: auto;
        width: 59vh;
        background-size: cover;
    }

    .contact-title{
        margin-top: 25%;

        font-family: NSimSun,cursive;

    }
    
}