<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .email-container {
            background-color: #f7f7f7;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            margin: 0 auto;
            font-family: Arial, sans-serif;
        }

        .email-header {
            text-align: center;
            margin-bottom: 20px;
        }

        .email-message {
            font-size: 16px;
            line-height: 1.6;
        }
    </style>
</head>
<body>

<div class="email-container">
    <h1 class="email-header">Contacted!</h1>
    <div class="email-message">
        <p>{{contact}}</p>
        <ul>
            {{message}}
        </ul>
    </div>
</div>

</body>
</html>
